.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: lightblue;
}

.canvas-container {
  width: 80vw;
  height: 80vh;
  border: black 5px solid;
  background: lightgrey;
}